<html>
  <head>
    <title><%= @project %></title>
    <script src="http://code.jquery.com/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/<%= @project %>.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    Open <%= @project %>/index.html and edit me.
  </body>
</html>
